#block1 {
  background-color: #eee; 
}

#block1 h4 {
  background-color: #333;
  color: #fff;
  width: 150px;  
  position: absolute;
  bottom: 10px;
  right: 10px; 
}

#block2 {
  background-color: #ddd;  
}

#block2 h4 {
  background-color: #666;
  color: #fff;
  width: 150px;
  position: absolute;
  bottom: 10px;
  right: 10px;   
}

#block3 {
  background-color: #ccc;  
}

#block3 h4 {
  background-color: #999;
  color: #fff;
  width: 150px;
  position: absolute;
  bottom: 10px;
  right: 10px;   
}

#block4 {
  background-color: #bbb;   
}

#block4 h4 {
  background-color: #c00;
  color: #fff;
  width: 150px; 
  position: absolute;
  bottom: 10px;
  right: 10px;  
}

#block1, 
#block2,
#block3,
#block4 {
  color: #333; 
}

#block1 h4,
#block2 h4, 
#block3 h4,
#block4 h4 {
  font-size: 120%;  
}




h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;   
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

#block1,  
#block2,
#block3, 
#block4 {
  font-family: 'Lato', sans-serif;  
}






@media (max-width: 768px) {
  #block1, #block2, #block3, #block4 {
    width: 100%; 
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #block1, #block2 {
    width: 50%;
    float: left; 
  }
  
  #block3, #block4 {
    width: 50%;
    float: left; 
  } 
}

@media (min-width: 992px) and (max-width: 1200px) {

  #block1, #block2, #block3 {
    width: 33.33%;
    float: left; 
  }
  
  #block4 {
    width: 100%;
    clear: both; 
  }  
}

@media (min-width: 1200px) {
  #block1, #block2, #block3, #block4 {
    width: 25%;
    float: left;   
  }
}
