/* styles.css */

body {
  font-family: 'Roboto', sans-serif;  
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
} 

.block h2 {
  font-family: 'Lato', sans-serif;
}

.block {
  padding: 20px; 
  margin-bottom: 20px;
}

.block1 {
  background: #6195ED;
}

.block2 { 
  background: #F0E68C;  
}

.block3 {
  background: #90EE90;
}

.block4 {
  background: #FFB6C1; 
}

.block h2 {
  width: 200px;
  background: #fff; 
  color: #000;
  padding: 10px;
  position: absolute;
  bottom: 0; 
  right: 0; 
}

/* Кольори тексту */ 

.block1, .block1 h2 {
  color: #fff;
}

.block2, .block2 h2 {
  color: #333;  
}

.block3, .block3 h2 {
  color: #000;
}

.block4, .block4 h2 {
  color: #222;
}

/* Розміри шрифтів */

.block h2 {
  font-size: 24px;  
}

p {
  font-size: 20px;
}

/* Адаптивна верстка */

.container {
  max-width: 1200px;
  margin: 0 auto;  
}

@media (max-width: 768px) {
  .block {
    width: 100%; 
  }
}

@media (min-width: 769px) and (max-width: 992px) {

  .block1, .block2 {
    width: 50%;
    float: left; 
  }
  
  .block3, .block4 {
    width: 50%;
    float: left;
  }
  
}

@media (min-width: 993px) and (max-width: 1200px) {

  .block1, .block2, .block3 {
    width: 33.33%;
    float: left;
  }
  
  .block4 {
    width: 100%;
    clear: both; 
  }
  
}

@media (min-width: 1201px) {

  .block {
    width: 25%;
    float: left;
  }
  
}
